.menu-title-container {
  color: white;
}

.menu-title-container > h1 {
  margin: 15px 15px;
  font-size: 135px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.menu-title-container > hr {
  margin-top: 5px;
}
